name: CLA Assistant

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write

jobs:
  cla:
    runs-on: ubuntu-latest
    if: |
      (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA')
      || github.event_name == 'pull_request_target'
    steps:
      - name: CLA Assistant
        uses: contributor-assistant/github-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.CLA_TOKEN }}
        with:
          path-to-signatures: "signatures/cla.json"
          path-to-document: "https://github.com/betalyra/cuttlekit/blob/main/CLA.md"
          branch: "main"
          allowlist: dependabot[bot],github-actions[bot],renovate[bot]
          custom-notsigned-prcomment: |
            Thank you for your contribution! Before we can merge this PR, we need you to sign our [Contributor License Agreement](https://github.com/betalyra/cuttlekit/blob/main/CLA.md).

            To sign, please comment on this PR with:

            > I have read the CLA Document and I hereby sign the CLA
          custom-pr-sign-comment: "I have read the CLA Document and I hereby sign the CLA"
